*{
	font-family: 'Montserrat', sans-serif;
}
#title{
	background-color: #D15A7C;
	padding: 0 14%;
}

.showcase{
	margin-top: 50px;
}

.content{
	padding-top: 9%;
}

.content h1{
	font-family: 'Montserrat-Black', sans-serif;
	font-size: 3.5rem;
	line-height: 1.5;
	font-weight: bolder;
	color: white;
	padding-bottom: 7%;

}

.navbar .navbar-brand{
	font-family: 'Ubuntu';
	font-weight: bold;
	font-size: 2.5em;
}

.navigation-item{
	padding: 0 18px;
}

.link{
	font-size: 1.2em;
	font-family: "Montserrat-Light";
}

.btn{
	margin-right: 10px;
}

.cat-image{
	width: 50%;
}

.cat{
	width: 100%;
}

/*Feature Section */

#feature{
	padding: 0 14%;
}

.services{
	margin: 16% 0;
	text-align: center;
}

.icon{
	color: #f6eec7;
}

.icon:hover{
	color: #D15A7C;
}

h3, p{
	font-family: 'Ubuntu';
	font-size: 1.2em;
}

h2{
	font-family: 'Ubuntu';
	font-size: .8em;
}

.service{
	padding: 8% 2%;
}


/*Testimonials Section*/

#testimonials{
	background-color: #D15A7C;
	padding: 0 14%;
	text-align: center;
	color: white;
}

.testimonial{
	padding: 12% 4%;
}


/*Pricing Section*/

#pricing{
	padding: 0% 14%;
	padding-bottom: 10%;
}

.header{
	text-align: center;
	padding: 10% 2%;
}

#about{
	background-color: #D15A7C;
	padding: 5% 14%;
	text-align: center;
}

footer{
	text-align: center;
	padding: 6% 2% 2% 2%;
	color: grey;
}